*{
   box-sizing: border-box;
}


.foto {
background-image: url(imagenes/header.jpg);
width: 100%;
height: 90vh;
color: black;
background-size: scale;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-position: center;
padding: 50px;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 40px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.columna1{
    width: 33%;
    text-align: center;
 }
 .columna2{
    width: 100%;
    background-color: rgb(64, 224, 208);
    text-align: center;
 }
 .columna3{
   width: 50%;
   }
.columna50{
   width: 50%;
   background-color: rgba(0, 0, 0, 0.184);
}
.columna50-2{
   width: 50%;
}
.columna100{
   width: 100%;
   text-align: center;
   background-color: black;
   color: white;
}
.cl1{
   color: azure;
}